@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #8360c3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Open Sans', sans-serif;
}

.parent-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.student-card {
    display: flex;
    background-color: white;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.student-image img {
    height: 200px;
    border-radius: 100%;
}

.student-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
}

.student-name {
    font-size: 20px;
    font-weight: bolder;
}

.student-roll {
    font-size: 20px;
    font-weight: bolder;
}

.student-course {
    font-size: 18px;
}
.entry{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(62, 255, 62);
}
.exit{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(255, 0, 0);
}